<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Cart</title>
	<link rel="stylesheet" th:href="@{/css/addtocart.css}" />
	<link rel="stylesheet" th:href="@{/css/navbar.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<nav class="navbar" th:insert="~{navbar :: navbar-content }" />
<div class="shopping-cart">
	<div class="shopping-header">
		
	</div>	
      
    <footer th:insert="~{footer :: footer-content}"></footer>  

</div>
</body>
</html>